/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-color: white;    
}
header{
    background-color: black;
    border: 1px solid;
    height: 15px;
    padding: 10px;

}
.logo {
    width: 210px;
    padding:25px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: -5px;
    justify-self: center;
} 
.hospi{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.const{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}


.container1{
    margin: 2rem;
    background-color: whitesmoke;
    text-align: center;
    font-family: Georgia, sans-serif;
}


nav{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    justify-content: space-around;
    align-items: center;
}

ul ,li ,a{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 3.5rem;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
}
 li span a:hover{
    color: rgb(238, 196, 117);
}

.hero{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;

}
.image{
    background-color: black;
    color: white;
    margin-top: 100px;
}
img{
    margin-top: -50px;
    
}
.different{
    display: flex;
    font-size: 17px;
    justify-content: center;
    gap: 3rem;
}
.space{
    border: 1px solid;
    height: 150px;
}

.ancor {
    display: flex;
    gap: 20px;
    color: whitesmoke;
}


footer {
      background-color: white;
      color: black;
      padding: 30px;
      position: relative;
      bottom: 0;
    }
 */
